.vscode
.vscode/
.vscode/*

__MACOSX
__MACOSX/
__MACOSX/*

__pycache__
__pycache__/
__pycache__/*

lightning_logs
lightning_logs/
lightning_logs/*

MNISTAudio
MNISTAudio/
MNISTAudio/*

myTestFiles
myTestFiles/
myTestFiles/*

UrbanSound8K
UrbanSound8K/
UrbanSound8K/*